@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model VideoStoreViewModel
<style>
    .body-content {
        background: transparent;
    }
</style>

<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        @{

            var active = false;
            @foreach (var item in Model.Videos)
            {

                <div class="item @(active == false ? "active" : "")">
                    <img src="@item.ImagePath">
                    <div class="carousel-caption">
                        <h4>@item.Name</h4>
                        <div class="fb-share-button"
                             data-href="@item.Url"
                             data-layout="button">
                        </div>
                        <a href="https://twitter.com/share" 
                           class="twitter-share-button" 
                           data-text="@item.Name" 
                           data-url="@item.Url" 
                           data-show-count="false">Tweet</a>
                        <p>@item.Description</p>
                    </div>
                </div>
                active = true;
            }
        }
    </div><!-- End Carousel Inner -->


    <ul class="list-group col-sm-4">
        @{

            var count = 0;
            active = false;
            foreach (var item in Model.Videos)
            {
                <li data-target="#myCarousel" data-slide-to="@count" class="list-group-item  @(active == false ? "active" : "")"><h4>@item.Name</h4></li>
                active = true;
                count++;

            }
        }
    </ul>

    <!-- Controls -->
    <div class="carousel-controls">
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>

</div><!-- End Carousel -->

@section scripts {
<div id="fb-root"></div>
<script>
            (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId=1724067881169895";
            fjs.parentNode.insertBefore(js, fjs);
            }(document, 'script', 'facebook-jssdk'));
</script>
<script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
}